@import 'styles/variables';

.navigation {
  background-image: url('/navigation/sakura-trees.png'); /* Got permission for it, https://www.pixiv.net/en/artworks/26394050 */
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-bottom: 10rem;

  box-shadow: 0px 10px 20px #000000;

  position: relative; /* To contain Particles just in this screen */
  color: $white;
  width: 100%;
  height: calc(100vw * 9 / 16);

  @media (orientation: landscape) {
    height: 100vh;
  }

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas:
    'name  navbar'
    'title image';

  .name {
    z-index: 2;
    grid-area: name;
    justify-self: left;

    img {
      height: 10rem;
    }

    p {
      position: absolute;
      top: 1.5rem;
      left: 1.5rem;
      fill: $white;
      font-size: 3em;
      transform: rotate(-11.97deg);
    }
  }

  .navigators {
    position: relative;
    z-index: 2;

    .navbar {
      position: absolute;
      height: 8rem;
      top: 0;
      right: 0;
    }

    .icons {
      position: absolute;
      display: flex;
      justify-content: space-between;

      width: 24rem;
      height: 2.5rem;
      top: 1rem;
      right: 2rem;

      .icon {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        cursor: pointer;

        img {
          height: 2.5rem;
          transition: opacity 100ms ease-in;
        }

        .active {
          height: 0.5rem;
          color: $white;
          border-radius: 100%;
        }

        .icon_text {
          position: absolute;
          height: max-content;
          width: max-content;
          opacity: 0;
          top: 50%;
          transform: translateY(-50%);
          transition: opacity 100ms ease-in;
        }
      }

      .icon:hover {
        img {
          opacity: 0;
        }

        .active,
        .icon_text {
          opacity: 1;
        }
      }
    }
  }

  .title {
    grid-area: title;
    display: flex;
    margin-top: 20vh;
    margin-left: 10rem;
    z-index: 2;

    .box {
      background-image: url('/navigation/Title.svg');
      background-repeat: no-repeat;
      width: 80vw;
      height: 40rem;
      background-size: 34rem auto;

      p {
        position: static;
        margin-top: 1.2em;
        margin-left: 1em;
        font-size: 2.5rem;
      }
    }
  }

  .coco {
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    height: 75vh;
    z-index: 1;
  }
}

@media only screen and (max-width: $breakpoint-tablet) {
  .navigation {
    height: 90vh;

    .name {
      display: none;
    }

    .navigators {
      width: 100vw;
    }

    .title {
      justify-content: center;
      margin-left: 0;

      .box {
        height: auto;
        background-size: 80vw auto;

        p {
          font-size: 6vw;
        }
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-phone) {
  .navigation {
    .navigators {
      .navbar {
        grid-area: navbar;
        width: 100vw;
        height: auto;
      }

      .icons {
        width: 70vw;
        top: 1.5vh;
        right: 1rem;

        .icon {
          height: 10vw;
          
          img {
            height: 10vw;
          }
        }
      }
    }

    .title {
      .box {
        width: 90vw;
        background-size: 90vw auto;

        p {
          margin-top: 1.5em;
        }
      }
    }
  }
}

.navigation.form {
  background: none;
  box-shadow: none;
  height: auto;
  margin-bottom: 0;

  .title {
    margin-top: 0;
    margin-left: calc(50vw - 20rem);

    .box {
      width: 34rem;
      height: 15rem;
    }
  }

  grid-template-rows: auto auto;

  @media only screen and (max-width: $breakpoint-tablet) {
    .title {
      margin-top: 14vh;
      margin-left: 0;
      .box {
        width: 80vw;
        height: 30vw;
      }
    }
  }

  @media only screen and (max-width: $breakpoint-phone) {
    .title {
      .box {
        width: 90vw;
        height: 7rem;
      }
    }
  }
}
