@import 'styles/variables';

$normal-font-size: 24px;
$tablet-font-size: 20px;
$phone-font-size: 12px;

.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  color: $white;
  font-size: $normal-font-size;
  padding: 0 3em 3em;

  .button {
    display: grid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: $orange;
    width: 12em;
    height: 2.3em;
    margin-left: auto;
    border-radius: 0.4em;
  }

  .button:hover {
    background: $dark-orange;
  }

  @media only screen and (max-width: $breakpoint-tablet) {
    font-size: $tablet-font-size;
  }

  @media only screen and (max-width: $breakpoint-phone) {
    font-size: $phone-font-size;
  }
}
