@import 'styles/variables';
$grey: #3f3f3f;
$normal-font-size: 1.5vw;
$tablet-font-size: 2.3vw;
$phone-font-size: 4.5vw;
$enlarged-background: rgba($background, 0.9);

.fanart_board {
  margin: 0 auto;
  width: 90%;
  color: $white;

  font-size: $normal-font-size;

  @media only screen and (max-width: $breakpoint-tablet) {
    font-size: $tablet-font-size;
  }

  @media only screen and (max-width: $breakpoint-phone) {
    font-size: $phone-font-size;
  }

  h2 {
    text-align: center;
    margin-bottom: 2em;
  }
}

.fanart {
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .enlarged {
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    background: $enlarged-background;

    width: 100%;
    height: 100%;

    img {
      width: 80vw;
      height: 80vh;
      object-fit: contain;
    }
  }

  .name {
    background: $grey;
    position: absolute;
    right: 0.3em;
    bottom: 0.5em;
    padding: 0.2em 1em;
    border-radius: 2em;
  }
}
