@import '../styles/variables';

.footer_container {
  position: fixed;                /* remove this if footer should not be sticky */
  left: 0;
  bottom: 0;
  z-index: 2;

  width: 95%;
  padding: 40px;

  background-color: $orange;
  color: $white;

  transform: rotate(3deg);
  transform-origin: 0 0 0;
}

.footer_bg {
  position: fixed;
  left: 0;
  bottom: 250px;
  right: 50px;
  z-index: 1;

  height: 100px;

  border-top-right-radius: 30px;
  background-color: $dark-orange;

  transform: rotate(4deg);
  transform-origin: 0 0 0;
}

.footer_title_container {
  display: flex;
  justify-content: space-between;
}

.footer_title {
  margin: 0;
}

.footer_subtitle {
  margin: 0;
}

.footer_links_container {
  display: flex;
  margin: 20px 0;
}

.footer_links_column {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  font-size: 14px;
}

.footer_links_title {
  font-weight: bold;
  margin: 1px;
}

.footer_link {
  opacity: 0.9;
  margin: 1px;
}

.footer_link_social {
  margin-right: 50px;
}