@import '../../styles/variables';

$transparent: #ffffff00;

.credits {
  color: white;

  hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, $transparent, white, $transparent);
    margin: 5em 0;
  }

  .content {
    margin: 3em 5em;
  }
  
  .title {
    text-align: center;
    font-size: 3em;
  }
  
  .roles {
    text-align: center;
    font-size: 2em;
  }

  .members {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-items: center;
    margin: 3em 5em;
  }

  .member {
    margin: 0.2em;
  }
}

@media only screen and (max-width: $breakpoint-phone) {
  .credits {
    .content {
      margin: 2em;
    }
  }
}