$gap-size: 0.5em;
.masonry_grid {
  display: flex;
  width: auto;
  margin-left: 40px;
  margin-right: 10px;

  & > div {
    margin-right: -30px;
    & > div {
      margin: 30px;
    }
  }
}

.my-masonry-grid_column {
  background-clip: padding-box;
}
