@import 'styles/variables';
$height: 2.4em;

.container {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
  z-index: 2;
  display: grid;
  justify-content: center;
  padding: 1em;

  .button {
    cursor: pointer;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    z-index: 1;

    color: $white;
    background: $gray;
    height: $height;
    width: 8.4em;
    border-radius: 10px;
    font-size: 2em;
    font-style: normal;
    font-weight: 700;

    img {
      width: 1em;
      right: 0;
      margin: auto;
    }

    &:hover {
      background: $dark-gray;
    }
  }
}

.container.hide {
  bottom: -4 * $height;
}

@media only screen and (max-width: $breakpoint-tablet) {
  .container {
    .button {
      font-size: 1.5em;
    }
  }
}
