@import '../../styles/variables';

.title{
    display: inline;
    color: $white;
    font-size: 36px;
    font-weight: 700;
}

.creator{
    display: inline;
    color: $white;
    font-style: italic;
    font-size: 36px;
    font-weight: 600;
}

.listContainer{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    background-color: $background;
    justify-content: center;
}

.playerWrapper{
    position: relative;
    padding-top: 56.25%;
}

.player{
    position: absolute;
    top: 0;
    left: 0;
    border: 10px solid $orange;
}
