@import '../styles/variables';

$normal-font-size: 24px;
$grey: #3f3f3f;
$dark-grey: #373737;

.form,
.tabs {
  max-width: 700px;
  padding: 0 50px;
  margin: 0 auto;
}

.tabs {
  font-size: $normal-font-size;
  color: $white;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px 0.5em;

  label {
    grid-column: 1 / 4;
    grid-row: 1;
  }

  .button {
    overflow: hidden;
  }
  .button.selected {
    background: $orange;
  }
}

.textInput {
  margin: 20px 0;

  label,
  input,
  textarea {
    font-size: $normal-font-size;
    color: $white;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    height: 2.3em;
  }

  textarea {
    resize: vertical;
    height: 6em;
  }

  input,
  textarea {
    width: calc(100% - 20px);
    padding: 0 10px;
    background: $grey;
    border: none;
    border-radius: 10px;
  }

  textarea:focus,
  input:focus {
    outline: none;
    box-shadow: 0 0 0 6px $orange;
  }
}

.button,
.button_submit {
  display: grid;
  align-items: center;
  justify-content: center;

  color: $white;
  background: $dark-grey;
  height: 2.3em;
  border-radius: 10px;

  font-size: $normal-font-size;
  font-style: normal;
  font-weight: bold;
}

.button:hover {
  background: $grey;
}

.button_submit {
  background: $orange;
  width: 8em;
  margin-left: auto;
  outline: none;
  border: none;
}

.button_submit:hover {
  background: $dark-orange;
}
