@import '../styles/variables';
$normal-font-size: 24px;

.form {
  max-width: 700px;
  padding: 50px;
  margin: auto;
}

.tabs {
  width: 100%;
  font-size: $normal-font-size;
  color: $white;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px 0.5em;

  label {
    grid-column: 1 / 4;
    grid-row: 1;
  }

  .button.selected {
    background: $orange;
  }
}

.textInput {
  margin: 20px 0;

  label,
  input,
  textarea {
    font-size: $normal-font-size;
    color: $white;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    height: 2.3em;
  }

  textarea {
    resize: vertical;
    height: 6em;
  }

  input,
  textarea {
    width: calc(100% - 20px);
    padding: 0 10px;
    background: #3f3f3f;
    border: none;
    border-radius: 10px;
  }

  textarea:focus,
  input:focus {
    outline: none;
    box-shadow: 0 0 0 6px $orange;
  }
}

.button,
.button_submit {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;

  color: $white;
  background: #373737;
  height: 2.3em;
  border-radius: 10px;

  font-size: $normal-font-size;
  font-style: normal;
  font-weight: bold;
}

.button_submit {
  background: $orange;
  width: 8em;
  margin-left: auto;
}
