// Used for overriding defaults

@import 'variables';

* {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
}
html {
  cursor: url('../public/asacoco.cur'), default;
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
