// Used for overriding defaults

@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'K2D', 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif;
}
html {
  background: $background;
  cursor: url('/plug-type-asacoco.cur'), default;
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  margin: 0;
}

@media only screen and (max-width: $breakpoint-tablet) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: $breakpoint-phone) {
  html {
    font-size: 14px;
  }
}