@import "../styles/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');


.card{
    background-color: $orange;
    border-radius: 25px;
    aspect-ratio: auto;
    color: $white;
    overflow: hidden;
    font-family: "Open Sans";


    .title{
        text-align: left;
        margin-top: 36px;
        margin-bottom: 25.5px;
        font-size: 30;
        margin-left: 49px;
        font-family: "Open Sans" ;
    
    }

    .message{
        font-size: 24;
        text-align: left;
        margin-top: 25.5px;
        margin-bottom: 6.5px;
        margin-left: 49px;
        font-family: "Open Sans" ;
    }

    .author{
        margin-top: 6.5px;
        text-align: right;
        font-size: 30;
        margin-bottom: 33px;
        margin-right: 38px;
        font-family: "Open Sans" ;
    }
}
