@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@1,300&display=swap');

.navigation {
    background-image: url('../public/navigation/sakura-trees.png'); /* Got permission for it, https://www.pixiv.net/en/artworks/26394050 */
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative; /* To contain Particles just in this screen */
    color: #FFFFFF;
    width: 100%;
    height: calc(100vw * 9 / 16);

    @media (orientation: landscape) {
        height: 100vh;
    }

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
        "name  navbar"
        "title image";

    .name {
        grid-area: name;
        justify-self: left;
        width: 50%;

        svg text{
            fill: #FFFFFF;
            font-size: 4em;
            transform: rotate(-11.97deg);
        }
    }

    .navigators {
        grid-area: navbar;
        justify-self: right;
        width: 75%;
    }

    .title {
        grid-area: title;
        justify-self: center;
        align-self: center;
        width: 75%;

        svg text {
            fill: #FFFFFF;
            font-family: 'K2D', sans-serif;
            font-size: 3.5rem;
            transform: rotate(-1.69deg);
        }
    }
}