// This file is used for color variables and scss mixins

$orange: #fe7d3e;
$dark-orange: #d36129;
$white: #ffffff;
$background: #202020;

$breakpoint-tablet: 860px;
$breakpoint-lgphone: 700px;
$breakpoint-phone: 425px;
