$card: #FE7D3E;
$bg: #202020;
$text: #ffffff;

.text{
    color: $text;
}

.listContainer{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    background-color: $bg;
    justify-content: center;
}

.card{
    grid-column: 1;
    width: 50%;
}

.cardInfo{
    color: $text;
    display: inline;
}

.playerWrapper{
    position: relative;
    //padding-top: 56.25%;
}

.player{
    width: 100%;
    height: 100%;
    border: 10px solid $card;
}
